extends main-layout

block content
    button(id='login') Login
    button(id='agentID') Get Agent ID
    button(id='changeStatus3') Change Status 3 (Disponible)
    button(id='changeStatus2') Change Status 2 (No Disponible)
    button(id='makecall') Make Call